<h1>Stupid coaching</h1>

<div class="your-answer">
<h3><%= @question %></h3>
<p>your answer</p>
</div>

<div class="your-coach">
<h3 class="combined yellow-background"><%= @answer %></h3>
<p class="combined yellow-background">your coach</p>
</div>

<%= link_to "ask", "http://localhost:3000/ask" %>

