<h1>Stupid Coaching</h1>
<h2>Hello there</h2>
<!-- <form action="/answer" method="get">
  <input type="text" name="ask_question" placeholder="Hello there">
  <input type="submit">
</form> -->

<form action="/answer">
  <input class="sub" type="text" name="ask_question">
  <input type="submit" value="Ask!">
</form>
